{% load staticfiles %}
{% load sekizai_tags %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% trans 'TITLE' %}{% endblock title %}</title>

        <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

        {% if user.is_authenticated and user.template %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/'|add:user.template %}"/>
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/flatly.min.css' %}"/>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    </head>
    <body>
        {% block body %}
        {% endblock body %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script>
            $(function(){
               $('[data-toggle=tooltip]').tooltip();
            });
        </script>
        {% render_block "js" %}

    </body>
</html>
